doctype html
html
  head
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/Styles/confirmacion.css')
    title Confirmación
  body
    h1 Datos Ingresados
    p Nombre: #{name}
    p Edad: #{age}
    p Correo electrónico: #{email}
    a(href="/") Volver a la página principal
