doctype html
html
  head
    meta(charset="UTF-8")
    title Página Principal
    style
      include ./Styles/PaginaInicio.css
  body
    h1 ¡Bienvenido a nuestra página principal del Ejercicio 1!
    a(href="/form") Ir al formulario