doctype html
html
  head
    meta(charset="UTF-8")
    title Confirmación
    style
      include ./Styles/confirmacion.css
  body
    h1 Datos Ingresados
    p Nombre: #{name}
    p Edad: #{age}
    p Correo electrónico: #{email}
    a(href="/") Volver a la página principal
